@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&display=swap');

body {
  background-color: #FAF6E8;
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  background-color: #CE4834;
  color: #fff;
  font-family: 'Pacifico', cursive;
}

footer {
  background-color: #CE4834;
}

.card-hoteles {
  border-radius: 10px;
  border: 1px solid #CE4834;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 1rem;
}